header {
  width: 100%;
  background-color: rgb(4, 104, 217);
  margin: 0;
  padding-top: 10px;
}
body {
  margin: 0;
}
#allLogosHeader {
  display: flex;
  justify-content: space-around;
}
#logo {
  cursor: pointer;
}
#cartLogo {
  cursor: pointer;
}
#allProductsBtns {
  padding-top: 15px;
  padding-bottom: 15px;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  justify-items: center;
}
.picForCat {
  cursor: pointer;
  border: dashed 3px rgb(255, 255, 255);
}
.categories {
  color: white;
}
