#headline {
  background-color: rgb(29, 187, 255);
  padding: 30px;
  margin: 20px;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  text-align: center;
}
.forProducts {
  background-color: rgb(138, 226, 255);
  margin: 10px;
}
#productDisplay {
  display: grid;
  grid-template-columns: repeat(3, 5fr);
  background-color: rgb(138, 226, 255);
  border: solid black 1px;
  row-gap: 10px;
  gap: 10px;
  padding: 10px;
}
#productDisplay button {
  cursor: pointer;
}
#productDisplay p {
  font-size: 25px;
  font-weight: 600;
  grid-column: 1/4;
  text-align: center;
}
#productDisplay img {
  width: 10rem;
  height: 10rem;
}
#addBtn {
  background-color: rgb(59, 255, 25);
  border-radius: 10px;
  font-weight: bold;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  height: 4rem;
  width: 6rem;
  align-self: center;
  justify-self: center;
}
#remBtn {
  background-color: rgb(255, 25, 25);
  border-radius: 10px;
  font-weight: bold;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  height: 4rem;
  width: 6rem;
  align-self: center;
  justify-self: center;
}
h3 {
  color: rgb(33, 167, 9);
  text-align: center;
  grid-column: 1/5;
  font-size: 60px;
}

@media (max-width: 430px) {
  #productDisplay img {
    display: block;
    align-items: center;
    width: 100px;
    height: 100px;
  }
  #productDisplay button {
    width: 70px;
    height: 70px;
  }
}
